/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefef82;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

  /* Settings Menu Container */

.settingsMenu {
    background-color: white;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    width: 20%;
    max-width: 500px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
}

  /* Header */
.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.formTitle {
    margin: 0;
    font-weight: normal;
    font-size: 1.25rem;
}

  /* Input Group */

.settingsGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.inputGroup label {
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: #333;
    font-size: 0.9rem;
}

.inputGroup input,
.inputGroup select {
    padding: 1rem 1rem;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.inputGroup input{
    width: 50%;
}

.inputGroup input::placeholder,
.inputGroup select::placeholder {
    color: #7C7C7C;
}

.inputGroup input:focus,
.inputGroup select:focus {
    border-color: #7044F2;
    outline: none;
}

  /* Button Group */
.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

  /* Buttons */
.button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.saveButton {
    background-color: #7044F2;
    color: white;
}

.saveButton:hover {
    background-color: #5938C4;
}

.cancelButton {
    background-color: #F8F9FB;
    color: #545360;
    border: 1px solid #eaeaea;
}

.cancelButton:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

  /* Close Button */
.closeButton {
    margin: 0;
    border: 1px solid #5D5D5D;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    color: #5D5D5D;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton:hover {
    cursor: pointer;
    opacity: 0.75;
}


.costBreakdownList {
    list-style-type: none;
    padding: 0;
    font-size: .9rem;
    margin-bottom: 2rem;
}

.inputGroup p{
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.infoSection {
    margin-bottom: 2rem;
}

.infoLabel {
    font-weight: normal;
    color: #333;
    font-size: .9rem;
    margin-bottom: 0;
}

.infoText {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0rem;
}

.itemLink {
    color: #7044F2;
    text-decoration: underline;
}

.itemLink:hover {
    color: #5938C4;
}

.docsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.docLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7044F2;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.docLink:hover {
    color: #5938C4;
}

.docIcon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.docName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust max-width as needed */
}
