/* Overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefef82;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Settings Menu Container */
.settingsMenu {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    width: 800px;
    max-width: 90%;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
}

/* Header */
.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.formTitle {
    margin: 0;
    font-weight: normal;
    font-size: 1.25rem;
}

/* Content Container */
.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Info Section */
.infoSection {
    flex: 1;
    margin-right: 2rem;
}

.settingsGroup {
    flex: 1;
}

/* Input Group */
.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.inputGroup label {
    text-decoration: underline;
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: #333;
    font-size: 0.9rem;
}

.inputGroup input,
.inputGroup select {
    padding: 1rem 1rem;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.inputGroup input, .inputGroup select {
    width: 100%;
}

.inputGroup input::placeholder,
.inputGroup select::placeholder {
    color: #7C7C7C;
}

.inputGroup input:focus,
.inputGroup select:focus {
    border-color: #7044F2;
    outline: none;
}

/* Button Group */
.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

/* Buttons */
.button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.saveButton {
    background-color: #7044F2;
    color: white;
}

.saveButton:hover {
    background-color: #5938C4;
}

.cancelButton {
    background-color: #F8F9FB;
    color: #545360;
    border: 1px solid #eaeaea;
}

.cancelButton:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

/* Close Button */
.closeButton {
    margin: 0;
    border: 1px solid #5D5D5D;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    color: #5D5D5D;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* Cost Breakdown List */
.costBreakdownList {
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
}

li.breakdownItem {
    color: #555;
}

.inputGroup p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

/* Info Labels and Text */
.infoLabel {
    font-weight: normal;
    color: #333;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-decoration: underline;
}

.infoText {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
}

.itemLink {
    color: #7044F2;
    text-decoration: underline;
}

.itemLink:hover {
    color: #5938C4;
}

/* Documents Container */
.docsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.docLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7044F2;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.docLink:hover {
    color: #5938C4;
}

.docIcon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.docName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.docItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.deleteButton {
    background-color: transparent;
    border: none;
    color: #ff4d4f;
    cursor: pointer;
    font-size: 0.9rem;
}

.deleteButton:hover {
    color: #d9363e;
}

.deleteOrderButton {
    background-color: #DE3C4B;
    color: white;
    margin-left: 1rem;
}

.deleteOrderButton:hover {
    background-color: #d9363e;
}

.receiptButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;
}

.numberInput,
.textInput {
    width: 100%;
}

.infoSection h4,
.infoSection p,
.infoSection ul {
    margin-bottom: 1rem;
}

.settingsButtonGroup{
    display: flex;
}

.downloadButton {
    margin: 0;
    margin-right: 0.5rem;
    border: 1px solid #5D5D5D;
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border-radius: 5px;
    color: #5D5D5D;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadButton:hover {
    cursor: pointer;
    opacity: 0.75;
}

.commentSection {
    margin-top: 1rem;
}

.textarea {
    width: 80%;
    padding: 1rem;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease;
    font-family: 'Inter', sans-serif;
    resize: none;
}

.textarea::placeholder {
    color: #7C7C7C;
}

.textarea:focus {
    border-color: #7044F2;
    outline: none;
}